html, body, #root, main { height: 100%; margin: 0px; padding: 0px; }

.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #white;
  height: 125px;
  padding: 5px;
  color: black;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
  background-color: #white;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*hamburger bars from w3schools example*/
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: tomato;
    margin: 6px 0;
    transition: 0.4s;
}

/*rotating bars to transform the hamburger into close button*/
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.search-bar {
    width: 300px;
    display: flex;
    flex-wrap:  wrap;
    flex-direction:  row;
    justify-content: flex-start;
    cursor: pointer;
    padding: 10px;
}

.hamburger {
    display: none;
    cursor: pointer;
    width: 50px;
    padding: 5px 10px;
}

.filter {
    cursor: pointer;
}

.filter input {
  padding: 15px 10px;
  font-size: 1em;
  border: 1;
  outline: none;
}

.search-list{
  width:15%;
  min-width: 265px;
}

.map-container {
  width: 70%;
}

.flex-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap:  wrap;
  flex-direction:  row;
}

@media screen and (max-width: 900px) {
  .hamburger {
      display: block;
      cursor: pointer;
      width: 50px;
      padding: 5px 10px;
  }

  .map-container {
    height: 100%;
    width: 100%;
  }
  .search-list {
      z-index: 10;
      opacity: 0.7;
      background-color: #fff;
      width: 50%;
      position: absolute;
      /* This trasform moves the drawer off canvas. */
      -webkit-transform: translate(-100%, 0);
      transform: translate(-100%, 0);
      /* Optionally, we animate the drawer. */
      transition: transform 0.3s ease;
    }

    .search-list-open {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }

    .search-list-item {
      display: list-item;
      border-bottom: 1px solid #E0E0E0;
      width: 100%;
      text-align: center;
    }
}
